
paper.synctex.gz
paper.pdf
paper.out
paper.log
paper.fls
paper.fdb_latexmk
paper.aux
paper_template.synctex.gz
paper_template.pdf
paper_template.out
paper_template.log
paper_template.fls
paper_template.fdb_latexmk
paper_template.aux
__latexindent_temp.tex