*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.bbl
*.blg
*.swp
*.un~
*.synctex.gz
*.DS_Store
__latexindent_temp.tex

CORL/example.pdf

NEURIPS/paper.pdf
NEURIPS/paper_template.pdf
images/TRITON Figures2.pptx
images/~$TRITON Figures2.pptx
images copy